*{
    margin: 0;
    padding: 0;
}
td{
    border: 2px solid #333;
    height: 100px;
    width: 100px;
    font-size: 70px;
    text-align: center;
    font-family: "Comic Sans MS", cursive;
    cursor: pointer;
}

.main{
    text-align: center;
    width: 100%;
    height: auto;
}

table{
    left: 37%;
    border-collapse: collapse;
    position: relative;
    top: 100px;
    margin-top: -60px;
}
table tr:first-child td{
    border-top: 0;
}
table tr:last-child td{
    border-bottom: 0;
}
table tr td:first-child{
    border-left: 0;
}
table tr td:last-child{
    border-right: 0;
}
#menu-starter{
    display: block;
    position: relative;
    z-index: -20;
}
.menu{
    background-color: #80ffbf;
    width: 100%;
    z-index: 0;
    position: relative;
}
.main{
    display: none;
}
.header{
    text-align: center;
    font-family: 'Luckiest Guy', cursive;
    font-size: 30px;
}
.line{
    width: 500px;
    margin-left: 700px;
    height: 15px;
    background-color: white;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
ul{
    text-align: center;
    margin-top: 200px;
}
.option1,.option2,.option3{
    text-decoration: none;
    color: #333;
    font-size: 50px;
    font-family: 'Permanent Marker', cursive;
    height: auto;
    position: relative;
    cursor: pointer;
}
.c1,.c2{
    margin-right: 5px;
   
}
.c1:hover, .c2:hover, .c3:hover{
    transform: translateY(-5px);
}
.option:hover{
    transform: translateX(10px);
    text-decoration: solid;
    text-decoration-color: antiquewhite;
}
.line1, .line2, .line3{
    margin-top: -11px;
    height: 5px;
    width: 0px;
    background-color: white;
}
.line1{
    margin-left: 900px;
}
.line2{
    margin-left: 810px;
}
.line3{
    margin-left: 890px;
}
.option1:hover ~ .line1{
    width: 120px;
    transition-property: width;
    transition-duration: 0.5s;
}
.option2:hover ~ .line2{
    width: 290px;
    transition-property: width;
    transition-duration: 0.5s;
}
.option3:hover ~ .line3{
    width: 135px;
    transition-property: width;
    transition-duration: 0.5s;
}
#menu-starter{
    display: block;
    position: relative;
}
.option-but{
    display: none;
}
#playbut{
    width: 100px;
    height: auto;
    position: relative;
    margin-top: 150px;
}
#playing{
    text-align: center;
    font-size: 40px;
    font-family: 'Indie Flower', cursive;
    display: none;
}

#pausegame .overlay-content .pointer{
    margin-bottom: 40px;
    color: white !important;
    cursor: pointer;
    
}

.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */   
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}
  
  /* Position the content inside the overlay */
  .overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  
  /* The navigation links inside the overlay */
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  
  /* When you mouse over the navigation links, change their color */
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  /* Position the close button (top right corner) */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
  
  /* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
